{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}


Amis

{% for friendsallow in friendsallows %}

<p>
<a href="{{ path('oc_platform_user', {'user': friendsallow.username}) }}">{{friendsallow.username}}</a>
</p>

{% endfor %}


<br />

Invitation reçu en attente
{% for linkwaiting in linkwaitings %}

<p><a href="{{ path('oc_platform_user', {'user': friendsallow.username}) }}">{{friendsallow.username}}</a></p>

{% endfor %}


{% endblock %}