{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Envoyer un message</h2>
   {% if app.session.flashBag.has('info') %}
        <div class="alert alert-info">
            {% for msg in app.session.flashBag.get('info') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

  {{ include("OCPlatformBundle:Advert:form.html.twig") }}

 

{% endblock %}
